<launch>
    <node name="controller" pkg="pid" type="controller" ns="left_motor"  >
      <param name="Kp" value="0.005" />
      <param name="Ki" value="0.0001" />
      <param name="Kd" value="0.0001" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="max_loop_frequency" value="20.0" />
      <param name="min_loop_frequency" value="20.0" />
	  <param name="topic_from_controller" value="leftpwm" />
      <param name="topic_from_plant" value="leftrpm" />
	  <param name="setpoint_topic" value="d_leftrpm" />
     </node>

    <node name="controller" pkg="pid" type="controller" ns="right_motor" >
      <param name="Kp" value="0.008" />
      <param name="Ki" value="0.001" />
      <param name="Kd" value="0.001" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="1" />
      <param name="max_loop_frequency" value="10.0" />
      <param name="min_loop_frequency" value="10.0" />
	  <param name="topic_from_controller" value="rightpwm" />
      <param name="topic_from_plant" value="rightrpm" />
	  <param name="setpoint_topic" value="d_rightrpm" />
     </node>

	<node name="controller" pkg="pid" type="controller" ns="heading" >
      <param name="Kp" value="0.005" />
      <param name="Ki" value="0.0001" />
      <param name="Kd" value="0.0001" />
      <param name="upper_limit" value="0.2" />
      <param name="lower_limit" value="-0.2" />
      <param name="windup_limit" value="0.2" />
      <param name="max_loop_frequency" value="20.0" />
      <param name="min_loop_frequency" value="20.0" />
	  <param name="angle_error" value="true" />
	  <param name="topic_from_controller" value="diff_rpm" />
      <param name="topic_from_plant" value="heading" />
	  <param name="setpoint_topic" value="d_heading" />
     </node>
</launch>
