<launch>
	<node name="encoder" pkg="asv_control" type="encoder" output="screen" >
      <remap from="/rightrpm" to="/right_motor/rightrpm" />
     </node>
     <node name="set_right_pwm" pkg="asv_control" type="rightpwm" ns="right_motor" output="screen" />
	 <include file="$(find pid)/launch/pid.launch" />
</launch>
